<!----------------------------------------
This is the project for Wireless and Mobile Computing Subject, Year 3
at Faculty of ICT, Mahidol University
This project can be used to study. 
It cannot be used for commercial purposes.

Developed by The 3rd Year ICT Students:
Mr. Nutpapon Limsupavanich ID: 5788217 
Mr. Wasutorn Sanamchai ID: 5788243 
Miss. Wipawee Likhitaporn ID: 5788305
Miss. Supatjana Leardarpajit ID: 5788319
-------------------------------------------->
<ion-header>
  <ion-navbar color="dark">
    <ion-title>Year {{year}} </ion-title>
      <ion-buttons (click)="goBack()">
      <ion-icon name="back"></ion-icon>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- {{(subjectTemp|async)}} -->
  <div *ngFor="let temp of subjectTemp | async">
    {{createObject(temp)}}
  </div>
  
    <ion-card color="dark">
      <ion-card-header>
        Semester 1
      </ion-card-header>
      <ion-list>
          <button ion-item (click)="goToOtherPage(sub)" *ngFor="let sub of subject1">
            <ion-icon name="cart" item-left></ion-icon>
              {{sub}}
          </button>
      </ion-list>

    </ion-card>
    <ion-card color="dark">
      <ion-card-header>
        Semester 2
      </ion-card-header>

      <ion-list>
          <button ion-item (click)="goToOtherPage(sub)" *ngFor="let sub of subject2">
            <ion-icon name="cart" item-left></ion-icon>
              {{sub}}
          </button>
      </ion-list>
    </ion-card>

</ion-content>
